@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Proyecto Final Programacion III </h2>
    <h3> Edward Fonseca Bolaños</h3>
    <img src="/images/logoUAM.png"></img>
</div>
